<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>


    <!-- Bootstrap core CSS -->

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" crossorigin="anonymous">
    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        {% block style %}{% endblock %}
    </style>

</head>
<body class="d-flex flex-column h-100">
<header>
    <!-- Фиксированная навигационная панель -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Тестовое задание</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Переключить навигацию">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/views/' %}active{% endif %}"
                           href="/views/">Просмотр</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="flex-shrink-0" style="margin-top: 2%;">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
    <span class="text-muted">
        {% block footer_text %}
            Как понял, так и сделал)
        {% endblock %}
    </span>
    </div>
</footer>
{% block scripts %}{% endblock %}
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>