{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <h1 class="mt-5">Добавление инпутов</h1>
    <form action="" method="post">
        <div class="input-group" style="margin-bottom: 10px">
            <input type="text" class="form-control" placeholder="Введите текст" aria-label="Text"
                   aria-describedby="addon-wrapping" name="input">
        </div>

        <div class="flex-nowrap">
            <button type="button" class="btn btn-primary btn-lg btn-block" style="width: 100%">Добавить</button>
            <button type="submit" id="add" class="btn btn-success btn-lg btn-block"
                    style="width: 100%; margin-top: 10px">
                Сохранить
            </button>

        </div>

    </form>


{% endblock %}

{% block footer_text %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% else %}
            Как понял, так и сделал)
        {% endif %}
    {% endwith %}
{% endblock %}